
<div class="grid">
    <div class="col-6 ">
        <div class="flex name-space align-content-center flex-wrap">
            <div class="flex-1 flex align-items-center justify-content-center">
                <div>
                    <h1 class="contact-me">Contact <label class="me"> Me</label>.</h1>
                    <div class="contact-container">
                        <h3 class="pl-3">Phone: <label class="pink-text">+</label>1 313-398-5395</h3>
                        <h3 class="pl-3">Email: <a href="mailto:{{email}}" class="pink-text">{{email}}</a></h3>
                        <h3 class="pl-3">LinkedIn: <a href="https://www.linkedin.com/in/vanessa-lopezo96/" class="pink-text">vanessa-lopezo96</a></h3>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
