
.name-space{
    height: 800px;
}

.software{
    font-size: 5rem;
    font-weight: 800;
    color: pink
}
.developer{
    font-weight: 800;
    font-size: 5rem;
}
.avatar{
    height: 250px;
    width: auto;
}

.circle {
    border-radius: 50%;
    border: 10px solid pink;
    padding:20px 15px 15px 25px;
}

.button{
    background-color: pink;
    border-color: pink;
}

.button:hover{
    background-color: pink;
    border-color: pink;
}

.intro{
    width: 400px;
}