.title {
    font-size: 30px;
    font-weight: lighter;
}
.experience-list {
    font-size: 17px;
}
.job-title{
    font-size: 25px;
}

.company{
    font-size: 20px;
}

ul li{
    padding-bottom: 10px;
}

li::marker {
    color:pink;
  }